/* src/App.css */
body {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: white;
}

.App {
  text-align: center;
}
